body {
  background: #facade;
  text-align: center;
}
iframe {
  margin: 15px;
}
.vid iframe {
  display: none;
}
.clicked iframe {
  display: block;
  margin: auto;
}
h2 {
  padding-top: 45px;
  display: inline-block;
}
.vid.clicked {
  display: block;
  height: 385px;
  width: 600px;
  border-radius: 0px;
  margin: 50px auto;
}
.vid {
  height: 200px;
  width: 200px;
  background-color: red;
  display: inline-block;
  border-radius: 100px;
  margin: 15px;
}
.title {
  color: white;
  font-size: 24px;
  padding: 10px;
}
.hidden {
  display: none;
}
